.about-hotel-intro__picture {
  min-height: 386px;

  background: url("../img/terrace-general.png") no-repeat;
  background-size: cover;
  background-position: 50%;
}

.about-hotel-intro__picture-text {
  .container();

  position: relative;
  top: -154px;

  color: #ffffff;

  @media @tablet-width {
    top: -114px;
  }

  @media @desktop-width {
    top: -100px;
  }

  & p {
    display: block;
    max-width: 600px;
  }
}
