.booking-form {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 20px;
  padding-top: 42px;
  margin-bottom: 20px;

  color: #000000;

  @media @tablet-width {
    flex-direction: row;
    margin-bottom: 180px;
  }

  & label {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    margin-right: 34px;

    @media @tablet-width {
      margin-bottom: 22px;
    }

    & input {
      padding: 8px 12px;
      margin-bottom: 8px;

      border: 1px solid #dddddd;
      border-radius: 3px;

      @media @tablet-width {
        margin-bottom: 0;
      }
    }

    & input[type="number"] {
      width: 70px;
    }
  }
}

.booking-form__date-choice,
.booking-form__people-count-choise {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media @tablet-width {
    flex-direction: row;
    align-items: stretch;
  }
}

.booking-form__choice-calendar-block {
  margin-bottom: 30px;

  & td:nth-child(8) {
    width: 66px;
  }

  @media @tablet-width {
    margin-bottom: 180px;
  }
}

.booking-form__calendar--1,
.booking-form__calendar--2,
.booking-form__calendar--3,
.booking-form__calendar--4 {
  display: none;

  text-align: center;

  overflow: auto;

  & td {
    width: 30px;

    border-radius: 3px;
  }
}

.prev-arrow input{
  transform: rotate(180deg);
}

.old-datepicker__month {
  min-width: 120px;
}

.cal_open,
.cal_closed {
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

.booking-form__calendar--show {
  display: block;
}

.old-datepicker__head {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}



.legends__item {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.legends__text {
  max-width: 340px;
}

.legends__color {
  margin-top: 8px;
  margin-right: 6px;
  width: 8px;
  height: 8px;

  border-radius: 50%;

  @media (min-width: 420px) {
    margin-top: 4px;
    margin-right: 8px;
    width: 16px;
    height: 16px;
  }
}

// .book-widget {
//   display: -webkit-flex;
//   display: -ms-flex;
//   display: flex;
//   justify-content: space-between;
// }
//
// .booking-form {
//   & input,
//   & select {
//     padding: 8px 12px;
//     margin-bottom: 8px;
//
//     border: 1px solid #dddddd;
//     border-radius: 3px;
//
//     @media @tablet-width {
//      margin-bottom: 0;
//     }
//   }
//
//   & label {
//     display: -webkit-flex;
//     display: -ms-flex;
//     display: flex;
//     flex-direction: column;
//   }
//
//   & label span {
//     margin-bottom: 6px;
//   }
// }
//
// .table-form__col {
//   margin-right: 30px;
// }

.booking-form__calendar {
  max-width: 550px;
}

.table-form__row {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
}

.booking-nav {
  width: auto;
  background-color: #f4f4f4;
}

.booking-nav__container {
  .container();

  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 18px 3%;

  @media @desktop-width {
    padding: 18px 3%;
  }
}

.booking-nav__container--full {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.booking-nav__btn {
  position: relative;

  padding: 8px 25px;
  padding-right: 10px;

  font-size: 24px;
  line-height: 30px;
  color: #000000;

  background-color: #e3e3e3;
  border-radius: 18px;

  &::after {
    content: "";
    position: relative;
    top: 5px;

    display: inline-block;
    width: 25px;
    height: 25px;

    background: url("../img/arrow.png") no-repeat;
  }
}

.booking-nav__btn--prev {
  padding: 8px 25px;
  padding-left: 10px;

  &::after {
    display: none;
  }

  &::before {
    content: "";
    position: relative;
    top: 5px;

    display: inline-block;
    width: 25px;
    height: 25px;

    background: url("../img/arrow.png") no-repeat;

    transform: rotate(180deg);
  }
}

.booking-nav__btn--finish {
  color: #ffffff;

  background-color: #dab66f;

  &::after {
    background: url("../img/arrow-white.png") no-repeat;
  }
}
