.finish-booking__second-title {
  margin-top: 20px;
  margin-bottom: 16px;

  font-size: 18px;
  line-height: 24px;
  font-family: 'Champagne_Limousines_Bold_0';
  text-transform: uppercase;
}

.finish-booking__values-list {
  padding: 14px 0;
  padding-left: 6px;
  margin-bottom: 10px;

  border-top: 1px dotted #b19151;
  border-bottom: 1px dotted #b19151;

  max-width: 435px;
}

.finish-booking__value-item {
  position: relative;

  &::before {
    content: "";
    position: relative;
    top: 0px;

    width: 9px;
    height: 9px;
    display: inline-block;
    margin-right: 8px;

    background: url("../img/star.png") no-repeat;
  }
}

.finish-booking__price {
  margin-bottom: 28px;

  font-size: 24px;
  line-height: 30px;
  font-family: 'Champagne_Limousines_Bold_0';
  text-transform: uppercase;
}

.finish-booking__form {
  margin-bottom: 50px;

  @media @tablet-width {
    margin-bottom: 270px;
  }
}

.finish-booking__agree {
  padding: 20px 15px;
  display: block;
  max-width: 415px;

  font-size: 16px;
  line-height: 24px;
  color: #000;

  background-color: #f4f4f4;

  & span {
    border-bottom: 1px dotted #000;
  }
}
.about-room input[type="checkbox"] {
  display: none;
}
.special-checkbox {
  content: "";
  position: relative;
  display: inline-block;
  float: left;
  top: 0;

  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 1px solid #dfdfdf;
  background: white;

  @media @tablet-width {
      top: -4px;
  }

}
.finish-booking__agree p {
  margin-left: 55px;
}
.checked {
  color: #fff;

  background-color: #dab66f;

  & span {
    border-bottom: 1px dotted #fff;
  }
  & .special-checkbox {
    border: none;
  }
  & .special-checkbox:after {
    content: url("/img/checkbox.png");
    width: 19px;
    height: 14px;

    position: relative;
    top: 5px;
    left: 5px;
  }
}
