.intro {
  background: url('../img/main-pic.png') no-repeat;
  background-size: cover;
  background-position: 50%;



  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  flex-direction: column;

  min-height: 475px;

  @media @desktop-width {
      min-height: 875px;;
  }



}

.intro__logo-content {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  flex-direction: column;
  align-items: center;

  margin: auto 0;

    @media @desktop-width {
      margin-top: 180px;
    }
}

.intro__logo-content h2 {
  font-size: 20px;
  line-height: 70px;

  color:#dab66f;

  text-transform: uppercase;
  text-shadow: 1px 1px 1px #000;



    @media @desktop-width {
      font-size: 60px;
      margin-bottom: 50px;
    }
}
 .intro__logo-content .hotel-logo {

   width: 70px;
   height: 70px;

   @media @desktop-width {

     width: 135px;
     height: 135px;

   }

 }
