footer {
  background-color: #b19151;

}

 .footer-not-main {
   background-color: #3e7d32;
 }

.footer {

  .container();

  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;

  padding-top: 16px;
  padding-bottom: 8px;



  color: #ffffff;


  @media @desktop-width {
    padding-top: 16px;
  }
}

.footer__links-mobile {

  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 12px;

  font-size: 14px;
  line-height: 18px;

  @media @tablet-width {
    display: none;

  }
}

.footer__links-mobile a {
  margin-right: 20px;

  border-bottom: 1px dotted #ffffff;

  &:last-child {
    margin-right: 0;
  }
}
.footer__links-desktop {
   display: none;

   margin-bottom: 12px;

   font-size: 14px;
   line-height: 18px;

   @media @tablet-width {
     display: -webkit-flex;
     display: -ms-flex;
     display: flex;

   }
}
.footer__links-desktop .contacts-link {
   width: 100%;
   display: -webkit-flex;
   display: -ms-flex;
   display: flex;
   justify-content: space-between;

   font-size: 18px;
   line-height: 26px;

}

.link-politik::after {
  content:url("../img/circle.png");
  width: 5px;
  height: 5px;
  position: relative;
  top:-3px;
  margin-left: 10px;
  margin-right: 5px;

}
.link-booking {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}
.link-booking img {
  margin-right: 10px;
}
.footer__tel {
  margin-bottom: 8px;

  text-align: center;
  font-size: 24px;
  line-height: 30px;
}

.footer__social {
  margin-bottom: 15px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;


}

.footer__social-icon {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
	height: 30px;
	background: rgba(41,41,41,0.7);
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
}
.footer__social-icon:first-child {
  margin-right: 5px;
}
.footer__social-icon:nth-child(2) {
  margin-left: 5px;
}
.footer__bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
