header {
  @media @tablet-width {
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: -100px;

    z-index: 3;
  }

}


.not-main-header {
  background-color: #ffffff;
  margin-bottom: 0;

  & .menu__item-name {
    color: #000000;
  }

  & .header-btn {
    color: #000000;
    padding-left: 5px;
    padding-right: 5px;


    @media @tablet-width {
      background-color: #ffffff;
      border: 1px solid #000000;
      padding-left: 38px;
      padding-right: 38px;

    }

   & .header-btn:hover {
     background-color: #cfab65;
   }

  }

  & .header__logo {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;

    @media (min-width: 980px) {
      margin-right: 20px;
    }
  }

  & .header__logo-img {
    width: 32px;
    height: 32px;

    @media @tablet-width {
      width: 48px;
      height: 48px;
    }
  }

  & .header__logo-text {
    display: none;

    @media @desktop-width {
      display: inline-block;
      margin-left: 12px;

      font-size: 24px;
      line-height: 30px;
      font-weight: 700;
      color: #b19151;
      text-transform: uppercase;
    }
  }
}


.header {
  .container();
  padding: 0 1%;

  padding-top: 8px;
  padding-bottom: 8px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media @tablet-width {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media @desktop-width {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

 .header__menu {
  @media (min-width: 980px) {
    display: none;
  }
}

 .header__item {
  @media (min-width: 980px) {
    margin-right: 30px;
    order: 2;

    &:last-child {
      margin-right: 0;
    }
  }

}

.header h3 {
  display: none;
  @media @tablet-width {
    display: block;
  }

}
