.menu__list {
  position: absolute;
  top: 100px;
  left: -2px;
  z-index: 5 !important;

  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  margin: 0 auto;
  width: 100%;

  display: none;

  @media (min-width: 980px) {
    position: relative;
    top: 0;

    width: 68%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    order: 1;
    justify-content: flex-start;
  }
}
.color-white {
  color: #ffffff !important;
}
.color-white:hover {
  color: #dab66f !important;
}

.menu__close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 5;

  color: #ffffff;
  font-size: 14px;

  cursor: pointer;

  display: none;
}

.show {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

}




.menu__item {
  @media @tablet-width {
    margin-right: 5%;

    &:last-child {
      margin-right: 0;
    }
  }

  @media (max-width: 980px) {
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 60px;
  }
}

.menu__item:hover .menu__item-sprite-white{
  background-image: url("../img/main-menu-sprite-orange.png");
  background-repeat: no-repeat;
  display: block;

}
.menu__item:hover .menu__item-sprite {
  background-image: url("../img/main-menu-sprite-orange.png");
  background-repeat: no-repeat;
  display: block;
}
.menu__item:hover .menu__item-name {
  color: #dab66f;
}
.menu__item-name {
  color: #ffffff;
}
.menu__item-name:hover {
  color: #dab66f;
}

.not-main-header .menu__item-name {
  color: #000000;
}
.menu__item:hover .not-main-header .menu__item-sprite-white {
  background-image: url("../img/main-menu-sprite-orange.png");
  background-repeat: no-repeat;
  display: block;
}
.menu__item:hover .not-main-header .menu__item-name {
  color: #dab66f !important;
}
.menu__link {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  flex-direction: column;
  align-items: center;
}

.menu__item-sprite {
    background-image: url("../img/main-menu-sprite.png");
    background-repeat: no-repeat;
    display: block;

    color: white;

}

.menu__item-sprite-white {
    background-image: url("../img/main-menu-sprite-white.png");
    background-repeat: no-repeat;
    display: block;

    color: white;
}
.sprite-alarm {
    width: 26px;
    height: 26px;
    background-position: -10px -10px;
}

.sprite-bed {
    width: 34px;
    height: 27px;
    background-position: -56px -9px;
}

.sprite-coffee {
    width: 28px;
    height: 29px;
    background-position: -110px -10px;
}

.sprite-map {
    width: 22px;
    height: 22px;
    background-position: -158px -10px;
}

.sprite-party {
    width: 26px;
    height: 27px;
    background-position: -200px -10px;
}

.sprite-runner {
    width: 27px;
    height: 25px;
    background-position: -246px -10px;
}
